.legendLabel {
    padding-left: 5px;
}

dl dd {
    margin-left: 15px;
    margin-bottom: 10px;
}

dl dd > ol {
    padding-left: 15px;
}

.actions span {
    cursor: pointer;
}

.actions span:hover,
.actions span:focus {
    text-decoration: underline;
}